body{
	margin: 0px auto;
	font-size: 16px; /*1em*/
	max-width: 1080px;
	min-height: 1222px;
}
header{
	/*border: 1px solid blue;*/
	padding-bottom: 80px;
	border-bottom: 1px dashed gray;
}
header nav{
	margin-top: 45px;
	margin-left: -20px;
}
header nav ul li{
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
}
#ImgLogo{
	margin-top: 25px;
	margin-left: 20px;
}
#HeadImg{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}
#DosImg{
	margin-left: 630px;
	margin-top: -125px;
}
#Buy{
	margin-bottom: -60px;
}
#Secc01{
	margin-top: 25px;
	/*border: 1px solid green;*/
}
#Secc01 article{
	display: inline-block;
	vertical-align: top;
}
#Secc01Art01{
	width: 54%;
	/*border: 1px solid blue;*/
}
#Secc01Art02{
	width: 44%;
	/*border: 1px solid red;*/
}
#Secc01Art01 img{
	width: 285px;
}
#Secc01Art01 article{
	border-bottom: 1px dashed gray;
	padding-bottom: 25px;
}
#Secc02 article img{
	vertical-align: middle;
}
#Secc03{
	padding-top: 20px;
}
#Secc03 article{
	width: 16%;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}
#Secc03 article ul {
	border-top: 1px solid rgb(129, 129, 129);
}
#Secc03 article ul li{
	color: rgb(128, 128, 128);
	list-style-type: none;
	margin-left: -40px;
}
#Year{
	margin-top: -200px;
}
.LetraGrande{
	font-size: 4em;
}
.LetraVerde{
	color: rgb(120, 241, 76);
}
.LetraGris{
	color: rgb(129, 129, 129);
}
.nito{
	font-weight: bold;
}
