body{
	background: rgb(43,43,43);
	font-size: 16px; /*1em*/
	margin: 0px auto;
	max-width: 1080px;
	min-height: 1246px;
}
header{
	background: rgb(240,240,240);
	padding-bottom: 45px;

}
header input{
	width: 117px;
	height: 25px;
	margin-left: 96px;
	margin-top: 8px;
}
header img{
	float: right;
	margin-right: 22px;
	margin-top: 6px;
	width: 764px;
	height: 44px;
}
#primerSeccion{
	padding-bottom: 20px;
}
#primerSeccion article{
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 20px;
} 
#secc01art01{
	width: 22%;
}
#secc01art01 ul{
	list-style: none;
}
#secc01art01 ul li{
	margin-bottom: 5px;
}
#secc01art02{
	width: 189px;
	height: 261px;

}
#secc01art03{
	width: 189px;
	height: 261px;

}
#secc01art04{
	width: 189px;
	height: 261px;

}
#secc01art05{
	width: 189px;
	height: 261px;

}
#segundaSeccion{
	border-top: 1px solid gray;
}
#segundaSeccion article{
	display: inline-block;
	border-bottom: 1px dashed gray;
	padding-bottom: 15px;
	padding-top: 20px;
	padding-left: 55px;
	margin-left: 55px;
}
#segundaSeccion article img{
	width: 242px;
	height: 32px;
}
#terceraSeccion article{
	width: 25%;
	vertical-align: top;
	display: inline-block;
	margin-left: 80px;
}
#terceraSeccion article ul li{
	list-style: none;
	padding-bottom: 5px;
}
#Logo{
	width: 167px;
	height: 70px;
}
.FondoVerde{
	background: rgb(180, 208, 82);
}
.FondoGrisOs{
	background: rgb(84, 84, 84);
}
.FondoRojo{
	background: rgb(212, 45, 63);
}
.FondoGrisBajo{
	background: rgb(228, 228, 228);
}
.LetraBlanca{
	color: white;
}
.LetraGris{
	color: rgb(158, 158, 158);
}
.LetraGrisOs{
	color: rgb(120, 120, 120);
}
.LetraAzul{
	color: rgb(74, 110, 130);
}
.Esquina{
	float: right;
}
.letragrande{
	font-size: 1.5em;
}
.LetraMediana{
	font-size: 1.1em;
}
.nito{
	font-weight: bold;
}