article{
	border-radius: 5px;
	height: 50px;
	margin-top: 10px;
	text-align: center;
	width: 150px;

}
#uno{
	/*si no soporta gradientes*/
	background: red;
	background: -moz-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
	background: -ms-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
	background: -o-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
	background: -webkit-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
}
#dos{
	/*si no soporta gradientes*/
	background: red;
	background: -moz-linear-gradient(to left ,red,yellow,blue);
	background: -ms-linear-gradient(to left ,red,yellow,blue);
	background: -o-linear-gradient(to left ,red,yellow,blue);
	background: -webkit-linear-gradient(to left ,red,yellow,blue);
	background: linear-gradient(to left ,red,yellow,blue);

}
#tres{
	/*si no soporta gradientes*/
	background: red;
	background: -moz-linear-gradient(to right ,red,yellow,blue);
	background: -ms-linear-gradient(to right ,red,yellow,blue);
	background: -o-linear-gradient(to right ,red,yellow,blue);
	background: -webkit-linear-gradient(to right ,red,yellow,blue);
	background: linear-gradient(to right ,red,yellow,blue);

}
#cuatro{
	/*si no soporta gradientes*/
	background: red;
	background: -moz-linear-gradient(to right bottom,red,yellow,blue);
	background: -ms-linear-gradient(to right bottom,red,yellow,blue);
	background: -o-linear-gradient(to right bottom,red,yellow,blue);
	background: -webkit-linear-gradient(to right bottom,red,yellow,blue);
	background: linear-gradient(to right bottom,red,yellow,blue);

}
#cinco{
	/*si no soporta gradientes*/
	background: red;
	background: -moz-linear-gradient(to left bottom,red,yellow,blue);
	background: -ms-linear-gradient(to left bottom,red,yellow,blue);
	background: -o-linear-gradient(to left bottom,red,yellow,blue);
	background: -webkit-linear-gradient(to left bottom,red,yellow,blue);
	background: linear-gradient(to left bottom,red,yellow,blue);
}
#seis{
	/*si no soporta gradientes*/
	background: red;
	background: -moz-linear-gradient(70deg,red,yellow,blue);
	background: -ms-linear-gradient(70deg,red,yellow,blue);
	background: -o-linear-gradient(70deg,red,yellow,blue);
	background: -webkit-linear-gradient(70deg,red,yellow,blue);
	background: linear-gradient(70deg,red,yellow,blue);
}
#siete{
	/*si no soporta gradientes*/
	background: red;
	background: -moz-repeating-linear-gradient(45deg,red,yellow,blue 20%);
	background: -ms-repeating-linear-gradient(45deg,red,yellow,blue 20%);
	background: -o-repeating-linear-gradient(45deg,red,yellow,blue 20%);
	background: -webkit-repeating-linear-gradient(45deg,red,yellow,blue 20%);
	background: repeating-linear-gradient(45deg,red,yellow,blue 20%);
}
.texto{
	position: relative;
	top: 15px;
}